/* * {box-sizing: border-box;} */

body {
    margin: 0;
    padding: 0;
    background: #2c2c2c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 90px solid green;
    border-bottom: 50px solid transparent;
    border-left: 100px solid blue;
    border-radius: 20%;
    transform: skew(1deg);
}

.box:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid red;
    border-left: 40px solid transparent;
}